.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.foot-nav-item-close {
  position: absolute;
  top: 0.2rem;
  left: 3.3rem;
  text-align: center;
  line-height: 18px;
  cursor: pointer;
}

.toolbar-section-container {
  margin: 18px 0;
  text-align: center;
  color: #ddd;
}

.toolbar-section-container-button {
}

.toolbar-section-container-button:hover {
  cursor: pointer;
}

/* Remove background color for dropdown toggle */
.toolbar-section-dropdown-toggle {
  background-color: transparent !important;
  border: none;
  box-shadow: none;
}

/* Remove the caret */
.toolbar-section-dropdown-toggle::after {
  display: none;
}

/* Optional: Adjust styles for dropdown items if needed */
.toolbar-section-dropdown-menu {
  background-color: transparent;
  border: none;
}

.toolbar-section-section-text {
  margin: 18px 0;
  text-align: center;
  color: #9d9d9d;
}

.toolbar-section-stack {
  margin-left: 15px;
  text-align: left;
  align-items: center;
  display: flex;
}

.toolbar-section-stack-h6 {
  text-align: left;
  font-size: 0.8rem;
}

.toolbar-section-h6 {
  margin-left: 15px;
  text-align: left;
  font-size: 0.8rem;
}

.toolbar-upload-photo-dropzone {
  margin-bottom: 5px;
}

.top0 {
  top: 0;
}

.left0 {
  left: 0;
}

.bottom0 {
  bottom: 0;
}

.right0 {
  right: 0;
}

.verticalCenter {
  top: 50%;
  transform: translateY(-50%);
}

.horizontalCenter {
  left: 50%;
  transform: translateX(-50%);
}

.zIndex0 {
  z-index: 0;
}

.zIndex1 {
  z-index: 1;
}

.zIndex2 {
  z-index: 2;
}

.zIndex3 {
  z-index: 3;
}
